<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Casa de la Malanga</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <style>
        .hero.is-primary {
            background-color: #00d1b2;
            color: #ffffff;
        }
        .section {
            padding: 3rem 1.5rem;
        }
    </style>
</head>
<body>
<!-- Navegación -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                La Casa de la Malanga
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/sabores">Sabores</a>
                <a class="navbar-item" href="/aboutUs">Sobre Nosotros</a>
                <a class="navbar-item" href="/contacto">Contactanos</a>
                <a class="navbar-item" href="/resenas">Reseñas</a>
            </div>
        </div>
    </nav>
    <!-- Hero -->
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Bienvenidos a La Casa de la Malanga
            </p>
            <p class="subtitle">
                El mejor lugar para comprar malangas frescas en línea.
            </p>
        </div>
    </section>



<!-- Table to display received messages -->
<section class="section">
    <div class="container">
        <h2 class="title">Mensajes Recibidos</h2>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Mensaje</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <% data.forEach(contacto => { %>
                    <tr>
                        <td><%= contacto.nombre %></td>
                        <td><%= contacto.correo %></td>
                        <td><%= contacto.mensaje %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
