<%- include('includes/head.ejs', {username : username}) %>

<h1 class="title">Agregar una obra de arte</h1>
<form action="/agregadas/agregar" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    <label class="label" for="nombre">Nombre</label>
    <input name="nombre" id="nombre" type="text" class="input"><br>
    <label class="label" for="imagen">Imagen</label>
    <input name="imagen" id="imagen" type="text" class="input"><br><br>
    <input class="button is-success" type="submit" value="Agregar">
</form>

<%- include('includes/foot.ejs') %>